.section_cards {
  padding: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #ddd;
}

.card {
  width: 35rem;
  margin-bottom: 3rem;

  @include respond(tab-land) {
    width: 30rem;
  }

  @include respond(tab) {
    width: 42rem;
  }
}

.card:not(:last-child) {
  margin-right: 3rem;

  @include respond(tab-land) {
    margin-right: 2rem;
  }

  @include respond(phone) {
    margin-right: 0rem;
  }
}

.card_title {
  height: 11rem;
  background-position: center;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 500;
}

.card_body {
  font-weight: 400;
  font-size: 2rem;
  background-color: #fff;
  height: 25rem;
  text-align: center;
  display: flex;
  align-items: top;
  padding: 3.5rem;
}
