.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 4rem 20rem;

  @include respond(tab-land) {
    padding: 2rem 15rem;
  }

  @include respond(tab) {
    padding: 2rem 8rem;
  }

  @include respond(phone) {
    padding: 2rem 4rem;
  }
}

.navbar__menu {
  color: #fff;
  text-decoration: none;
}

.navbar__menu:not(:last-child) {
  padding-right: 8rem;

  @include respond(tab-land) {
    padding-right: 6rem;
  }

  @include respond(tab) {
    padding-right: 4rem;
  }

  @include respond(phone) {
    padding-right: 2rem;
  }
}

.navbar_white {
  background-color: white;
  box-shadow: 0 0 5rem rgba(#000, .3);

  .navbar__menu {
    color: #000;
  }
}
