.section_hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;

  @include respond(tab-land) {
    height: 85vh;
  }
}

.slide {
  color: rgba(#fff, .6);
  position: absolute;
  top: 50%;
  font-size: 4rem;
  transition: all .2s;

  &:hover {
    color: rgba(#fff, 1);
    cursor: pointer;
  }

  &-left{
    left: 5%;
  }

  &-right {
    right: 5%;
  }

  @include respond(phone) {
    font-size: 3rem;
  }
}

.hero_circle {
  position: absolute;
  left: 48%;
  bottom: 2%;
}

.circle-1, .circle-2, .circle-3 {
  color: rgba(#fff, .6);
  font-size: 1.4rem;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    color: rgba(#fff, 1);
  }

  font-size: 1.2rem;
}

.circle-1, .circle-2 {
  margin-right: 10px;
}

.hero_circle_active {
  color: rgba(#fff, .8);
}
