#tabs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.6rem;
  background-color: #ddd;
  padding: 10rem;

  @include respond(tab-land) {
    padding: 5rem;
  }
}
