.section_hero-h1 {
  font-size: 7rem;
  color: #fff;
  position: absolute;
  top: 32rem;
  left: 26rem;
}

.section_hero-p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6;
  position: absolute;
  top: 50rem;
  left: 26rem;
}

.heading-h1 {
  font-size: 7rem;
  color: #fff;
  padding-left: 3rem;
  line-height: .8;
}

.we-are__paragraph {
  font-size: 2rem;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
}

.heading_white {
  color: #000;
  font-size: 7rem;
  line-height: .8;

}

.paragraph_white {
  font-size: 2rem;
  color: #000;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
