#we-do {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
}

.we-do_text {
  background-color: #fff;
  text-align: right;
  padding-right: 3rem;
}

.we-do_picture {
  width: 60%;
  height: 100%;
}
