#we-are {
  display: flex;
  background-color: #000;
  align-items: center;
  height: 70vh;

  @include respond(tab-land) {
    height: 60vh;
  }

  @include respond(tab) {
    flex-direction: column;
  }
}

.we-are_picture {
  display: inline-block;
  width: 60%;
  height: 100%;

  @include respond(tab) {
    flex-direction: column;
    height: 50%;
    width: 100%;
  }
}
