.section_hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.section_hero-h1 {
  color: #fff;
  font-size: 7rem;
  padding-top: 30rem;
  padding-left: 35rem;
}

.section_hero-p {
  color: #fff;
  font-size: 1.8rem;
  padding-left: 35rem;
  padding-top: 2.4rem;
}
